@model IEnumerable<Orkidea.RinconCajica.Entities.NewsPaper>

@foreach (var item in Model)
{
    <div class="row-fluid">
        <div class="span9"><span style="font-size:xx-large; font-weight:bold;">@Html.DisplayFor(modelItem => item.titulo)</span></div>
        <div class="span3" style="text-align: right;"><span>@String.Format("{0:d}", item.fecha)</span></div>
    </div>
    <div class="row-fluid">
        @Html.Raw(HttpUtility.HtmlDecode(item.contenido))                
    </div>
    <hr />
}
