<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>    
    <add name ="AzureStorageAccount" connectionString ="DefaultEndpointsProtocol=https;AccountName=rinconstorage;AccountKey=O2mWnbefdvTPvrH75LF24V0hjkTkw2N3dZHB6woXjv2OWP47uERkVRFfwd8Zf/2txlzrURDLN6iLp5aDW5AgsQ==;"/>
  </connectionStrings>
  <appSettings >
    <!--Azure storage settings-->
    <add key="uploadedFiles" value ="uploadedfiles"/>
    <add key="partnerComsumption" value ="partnercomsumption"/>
    <add key="accountSummaries" value ="accountsummaries"/>
  </appSettings>
</configuration>
