@model Orkidea.RinconCajica.webFront.Models.vmPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Security.Principal.IIdentity context = Context.User.Identity;
    int user = 0;
    string rol = "U";
    string userName = "";
    bool autenticado = false;

    if (context.IsAuthenticated)
    {
        System.Web.Security.FormsIdentity ci = (System.Web.Security.FormsIdentity)Context.User.Identity;
        string[] userRole = ci.Ticket.UserData.Split('|');
        user = int.Parse(userRole[0]);
        rol = userRole[1];
        userName = ci.Name;
        autenticado = (user != null ? true : false);
    }
}
<script src="@Url.Content("~/scripts/jquery-1.9.1.min.js")"></script>

<div id="bg_slide">
    <ul>
        @foreach (var item in Model.lsHomeSlider)
        {
            <li>
                <img src="@Url.Content(item.urlImagen)" alt="">
            </li>                    
        }
    </ul>
    <div class="pattern"></div>
</div>

<div class="default-icons clearfix">
    <ul class="slider-nav">
        <li>
            <a href="#" class="icon-angle-left rslides_nav rslides1_nav prev"></a>
        </li>
        <li>
            <a href="#" class="icon-angle-right rslides_nav rslides1_nav next"></a>
        </li>
    </ul>
    <!-- /.slider-nav -->


</div>

<div class="container">
    <div class="header-field">
        <div class="page-title pull-left">
            <h3>@Model.titulo</h3>
        </div>
    </div>
    <!-- /.header-field -->
</div>
<!-- /.container -->

<div class="container">
    <div class="cont-outer">
        <div class="row-fluid">
            @{
                string contenido = "";

                if (Model.idSideBar != null)
                {
                    if (autenticado)
                    {
                        contenido += "<div class='span10'><div class='post-item single-post'>" + Model.contenidoPrivado + "</div></div>";
                    }
                    else
                    {
                        contenido += "<div class='span10'><div class='post-item single-post'>" + Model.contenidoPublico + "</div></div>";
                    }

                    contenido += "<div class='span2'>" + Model.sideBarContent + "</div>";
                }
                else
                {
                    if (autenticado)
                    {
                        contenido += "<div class='span12'><div class='post-item single-post'>" + Model.contenidoPrivado + "</div></div>";
                    }
                    else
                    {
                        contenido += "<div class='span12'><div class='post-item single-post'>" + Model.contenidoPublico + "</div></div>";
                    }
                }
            }
            @Html.Raw(contenido)
        </div>
        <!-- /.row-fluid -->

    </div>
    <!-- /.cont-outer -->
</div>
