<div class="post-item single-post">
    <div class="post-details">
        <div class="row-fluid">
            <div class="span12">
                <h2>Hoyo 15</h2>
                <p style="text-align: justify;">Es un hoyo dogleg hacia la izquierda con unos cross bunkers en la curva ubicados entre las 300 y 220 yardas de el tee de salida, obligando al jugador a dirigir su bola hacia la derecha. Para el segundo tiro hay que tener en cuenta el lago frontal que se encuentra entre las 100 y 20 yardas del green. El green que esta protegido por tres bunkers, al fondo despu&eacute;s del green se encuentra un rough alto lo que obliga aterrizar la bola de aire</p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div id="myCarousel1" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <img src="https://farm8.staticflickr.com/7068/13805332133_cea46e8196_o.jpg" alt="" width="100%" />
                            <div class="carousel-caption">
                                <!--<h4>Bienvenido</h4>-->
                                <p>Green</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://farm4.staticflickr.com/3738/13805655084_2dc0c88b59_o.jpg" alt="" width="100%" />
                            <div class="carousel-caption">
                                <!--<h4>Bienvenido</h4>-->
                                <p>Lago y green</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://farm3.staticflickr.com/2854/13805657114_e5750f520d_o.jpg" alt="" width="100%" />
                            <div class="carousel-caption">
                                <!--<h4>Bienvenido</h4>-->
                                <p>Fairway, lago y green</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://farm8.staticflickr.com/7064/13805339973_5538119fde_o.jpg" alt="" width="100%" />
                            <div class="carousel-caption">
                                <!--<h4>Bienvenido</h4>-->
                                <p>Fairway</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://farm8.staticflickr.com/7330/13805662244_f2132e4659_o.jpg" alt="" width="100%" />
                            <div class="carousel-caption">
                                <!--<h4>Bienvenido</h4>-->
                                <p>Tee de salida</p>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel1" data-slide="prev">&lsaquo;</a> <a class="carousel-control right" href="#myCarousel1" data-slide="next">&rsaquo;</a>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <table class="table table-bordered table-striped table_vam">
                <thead>
                    <tr>
                        <td>Par</td>
                        <td>Ventaja</td>
                        <td>Yardas</td>
                        <td>Patrón campo</td>
                        <td>Patrón curva</td>
                        <td>Marcas</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5</td>
                        <td>2</td>
                        <td>499</td>
                        <td>68.4</td>
                        <td>124</td>
                        <td>
                            <img src="http://54.214.46.236/RinconCajica/Images/yellowBall.png" />Caballeros
                        </td>
                    </tr>
                    <tr>
                        <td class="style1">5</td>
                        <td>2</td>
                        <td>499</td>
                        <td>73.5</td>
                        <td>139</td>
                        <td>
                            <img src="http://54.214.46.236/RinconCajica/Images/yellowBall.png" />Damas
                        </td>
                    </tr>
                    <tr>
                        <td class="style1">5</td>
                        <td>2</td>
                        <td>554</td>
                        <td>72.8</td>
                        <td>127</td>
                        <td>
                            <img src="http://54.214.46.236/RinconCajica/Images/blueBall.png" />
                        </td>
                    </tr>
                    <tr>
                        <td class="style1">5</td>
                        <td>2</td>
                        <td>526</td>
                        <td>71.6</td>
                        <td>125</td>
                        <td>
                            <img src="http://54.214.46.236/RinconCajica/Images/whiteBall.png" />
                        </td>
                    </tr>
                    <tr>
                        <td class="style1">5</td>
                        <td>2</td>
                        <td>584</td>
                        <td>75.4</td>
                        <td>137</td>
                        <td>
                            <img src="http://54.214.46.236/RinconCajica/Images/blackBall.png" />
                        </td>
                    </tr>
                    <tr>
                        <td class="style1">5</td>
                        <td>2</td>
                        <td>473</td>
                        <td>71.9</td>
                        <td>145</td>
                        <td>
                            <img src="http://54.214.46.236/RinconCajica/Images/redBall.png" />Damas
                        </td>
                    </tr>
                    <tr>
                        <td class="style1">5</td>
                        <td>2</td>
                        <td>465</td>
                        <td>67.3</td>
                        <td>125</td>
                        <td>
                            <img src="http://54.214.46.236/RinconCajica/Images/redBall.png" />Caballeros
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



