<ul>
    <li><a href="../../SportSchedule/IndexNextSchedule/Golf">Pr&oacute;ximos torneos&nbsp;</a></li>
    <li>Torneos anteriores</li>
    <li>Ranking</li>
    <li>El campo
        <ul>
            <li><a href="hoyo1">Hoyo 1</a></li>
            <li><a href="hoyo2">Hoyo 2</a></li>
            <li><a href="hoyo3">Hoyo 3</a></li>
            <li><a href="hoyo4">Hoyo 4</a></li>
            <li><a href="hoyo5">Hoyo 5</a></li>
            <li><a href="hoyo6">Hoyo 6</a></li>
            <li><a href="hoyo7">Hoyo 7</a></li>
            <li><a href="hoyo8">Hoyo 8</a></li>
            <li><a href="hoyo9">Hoyo 9</a></li>
            <li><a href="hoyo10">Hoyo 10</a></li>
            <li><a href="hoyo11">Hoyo 11</a></li>
            <li><a href="hoyo12">Hoyo 12</a></li>
            <li><a href="hoyo13">Hoyo 13</a></li>
            <li><a href="hoyo14">Hoyo 14</a></li>
            <li><a href="hoyo15">Hoyo 15</a></li>
            <li><a href="hoyo16">Hoyo 16</a></li>
            <li><a href="hoyo17">Hoyo 17</a></li>
            <li><a href="hoyo18">Hoyo 18</a></li>
            
        </ul>
    </li>
</ul>
