<div class="post-item single-post">
    <div class="post-details">
        <div class="row-fluid">
            <div class="span1">
                <span></span>
            </div>
            <div class="span4">
                <h2>Estamos trabajando para ofrecerte una gran experiencia</h2>
                <p>Si tienes dudas, aclaraciones o sugerencias, puedes comunicarte con nosotros a traves de nuestra pagina de contacto</p>
                <a class="btn" href="../contact">Contactanos</a>
            </div>
            <div class="span1">
                <span></span>
            </div>
            <div class="span6">
                <img src="http://54.214.46.236/RinconCajica/UploadedFiles/16c4d234-bc8d-4824-8fba-42c979614016.png" />
            </div>
        </div>
    </div>
</div>
