<div class="row-fluid">
    <div id="myCarousel1" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="https://farm4.staticflickr.com/3873/14343269402_703f7ac661_h.jpg" alt="" width="100%" /></div>
            <div class="item">
                <img src="https://farm3.staticflickr.com/2909/14365069273_ac83d632e6_h.jpg" alt="" width="100%" /></div>
            <div class="item">
                <img src="https://farm4.staticflickr.com/3917/14321753786_2368142c6c_h.jpg" alt="" width="100%" /></div>
            <div class="item">
                <img src="https://farm6.staticflickr.com/5537/14344882945_70b5eeff70_h.jpg" alt="" width="100%" /></div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel1" data-slide="prev">&lsaquo;</a> <a class="carousel-control right" href="#myCarousel1" data-slide="next">&rsaquo;</a>
    </div>
</div>
