<div class="sidebar-widget">
    <h3 class="widget-title">Salones</h3>
    <div class="widget-cnt categories">
        <ul>
            <li><a title="Comerdor Principal" href="../../Page/Details/Comerdorprincipal">Comerdor Principal</a></li>
            <li><a title="Taberna" href="../../Page/Details/Taberna">Taberna</a></li>
            <li><a title="Reservado 1" href="../../Page/Details/Reservado1">Reservado 1</a></li>
            <li><a title="Reservado 2" href="../../Page/Details/Reservado2">Reservado 2</a></li>
            <li><a title="Zona Juvenil" href="../../Page/Details/ZonaInfantil">Zona Juvenil</a></li>
        </ul>
    </div>
</div>
<div class="sidebar-widget">
    <h3 class="widget-title">Eventos</h3>
    <div class="widget-cnt categories">
        <ul>
            <li><a title="Eventos Empresariales" href="../../Page/Details/TorneosEmpresariales">Eventos Empresariales</a></li>
        </ul>
        
    </div>
</div>
