<p>&nbsp;</p>
<div class="sidebar-widget">
    <h3 class="widget-title">Deportes</h3>
    <div class="widget-cnt categories">
        <ul>
            <ul>
                <li><a title="Golf" href="../../Page/Details/Hoyo1">Golf</a></li>
                <li><a title="Nataci&oacute;n" href="../../Page/Details/Natacion">Nataci&oacute;n</a></li>
                <li><a title="Tenis" href="../../Page/Details/Tenis">Tenis</a></li>
                <li><a href="../../Page/Details/Gimnasio">C.E.F</a></li>
                <li><a title="F&uacute;tbol" href="../../Page/Details/Futbol">F&uacute;tbol</a></li>
            </ul>
        </ul>
    </div>
</div>
<div class="sidebar-widget">
    <h3 class="widget-title">Escuelas Deportivas</h3>
    <div class="widget-cnt categories">
        <ul>
            <li><a href="../../Page/Details/ReglamentoEscuelasDeportivas">Reglamento, Horarios y Tarifas</a></li>
            <li><a href="EscuelasDeportivasDeGolf">Escuelas Golf</a></li>
        </ul>
    </div>
</div>
<div class="sidebar-widget">
    <h3 class="widget-title">Torneos</h3>
    <div class="widget-cnt categories">
        <ul>
            <li><a href="../../SportSchedule/IndexNextSchedule/Golf">Pr&oacute;ximos torneos&nbsp;</a></li>
            <li><a href="../../SportSchedule/IndexOlderSchedule/Golf">Torneos anteriores</a></li>
            <li><a href="#">Ranking</a></li>
            <li><a title="Ganadores Hoyo 4" href="../../Page/Details/GanadorHoyo4">Ganadores Hoyo 4</a></li>
        </ul>
    </div>
</div>
<div class="sidebar-widget">
    <h3 class="widget-title">Tarifas</h3>
    <div class="widget-cnt categories">
        <table class="table table-bordered table-striped table_vam">
            <thead>
                <tr>
                    <td colspan="2">Green Fee</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="style1">&nbsp;</td>
                    <td class="style1">Valor</td>
                </tr>
                <tr>
                    <td>Martes y Jueves</td>
                    <td class="style3">$80.000</td>
                </tr>
                <tr>
                    <td>Miercoles y Viernes</td>
                    <td class="style3">$125.000</td>
                </tr>
                <tr>
                    <td>Miercoles a Viernes Estudiantes menores de 25 A&ntilde;os con carnet</td>
                    <td class="style3">$35.000</td>
                </tr>
                <tr>
                    <td colspan="2">Fin de Semana y Festivos</td>
                </tr>
                <tr>
                    <td>Adultos antes de la 1:00 PM</td>
                    <td class="style3">$250.000</td>
                </tr>
                <tr>
                    <td>Adultos Despues de la 1:00 PM</td>
                    <td class="style3">$150.000</td>
                </tr>
                <tr>
                    <td>Estudiantes menores de 25 A&ntilde;os con carnet</td>
                    <td class="style3">$50.000</td>
                </tr>
                <tr>
                    <td colspan="2">Clases</td>
                </tr>
                <tr>
                    <td>Primer Profesional</td>
                    <td class="style3">$31.500</td>
                </tr>
                <tr>
                    <td>Segundo Profesional</td>
                    <td class="style3">$28.500</td>
                </tr>
                <tr>
                    <td>Tercer Profesional</td>
                    <td class="style3">$28.500</td>
                </tr>
                <tr>
                    <td>Acompa&ntilde;amiento 9 Hoyos</td>
                    <td class="style3">$73.500</td>
                </tr>
                <tr>
                    <td>Acompa&ntilde;amiento 18 Hoyos</td>
                    <td class="style3">$126.000</td>
                </tr>
                <tr>
                    <td colspan="2">Caddies</td>
                </tr>
                <tr>
                    <td>Primera</td>
                    <td>$35.000</td>
                </tr>
                <tr>
                    <td>Segunda</td>
                    <td>$32.000</td>
                </tr>
                <tr>
                    <td>Tercera</td>
                    <td>$25.000</td>
                </tr>
                <tr>
                    <td>Refrigerio Caddies</td>
                    <td>$5.000</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Campo Practica</td>
                    <td>$8.000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
