@{
    ViewBag.Title = "Suggestion";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

<h2>Sugerencias</h2>
<div class="row-fluid">
    <div class="span12">
        <label>Asunto</label>
        <input type="text" id="txtAsunto" class="span12" />
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <label>Mensaje</label>
        <textarea id="txtMensaje" class="span12" rows ="10" ></textarea>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">        
        <input type="button" id ="btnSubmit" value="Enviar" class="btn btn-primary"/>
    </div>
</div>

<script>

</script>
