@{
    ViewBag.Title = "ReporteRecibido";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

<h2>Reporte de correspondencia recibida</h2>

@Styles.Render("~/css/datepicker.css")
@Scripts.Render("~/scripts/jquery-1.9.1.min.js")
@Scripts.Render("~/js/bootstrap-datepicker.js")

<div class="row-fluid">
    <div class="span2">
        <label>Desde</label>
        <input class="span12" id="desde" name="desde" type="text">
    </div>
    <div class="span2">
        <label>Hasta</label>
        <input class="span12" id="hasta" name="hasta" type="text">
    </div>

</div>
<div class="row-fluid">
    <div class="span2">
        <input type="button" value="Generar" id="btnSubmit" class="btn btn-info" />
    </div>
</div>

<script>
    $('#desde').datepicker({
        format: 'yyyy-mm-dd', setDate: new Date(),
    });

    $('#hasta').datepicker({
        format: 'yyyy-mm-dd', setDate: new Date(),
    });

    $('#btnSubmit').click(function () {
        var desde = $('#desde').val();
        var hasta = $('#hasta').val();

        var parametro = desde + "|" + hasta + "|I";

        var link = '@Url.Action("exportaRecibido", new { id = "-1" })';
        link = link.replace("-1", parametro);

        window.location.href =link;
    });
</script>