@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}
<div class="span12 well" style="min-height: 800px;">
    <h2 style="text-align: center;">Bienvenido a la consola de administración</h2>
</div>

